<!DOCTYPE html>
<html layout:decorate="~{./skeletons/skeleton}">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chats</title>
        <link rel="stylesheet" th:href="/styles/chats.css">
    </head>
    <body>
        <div layout:fragment="TITLE">
            <h1>Chats</h1>
            <a class="profile" href="./profile.html">
                <i>
                    Profile
                </i>
            </a>
        </div>
        <div layout:fragment="BODY">
            <div class="contacts">
                <div class="contact">contact1</div>
                <div class="contact">contact2</div>
                <div class="contact">contact3</div>
                <div class="contact">contact4</div>
                <div class="contact">contact5</div>
                <div class="contact">contact6</div>
                <div class="contact">contact7</div>
                <div class="contact">contact8</div>
                <div class="contact">contact9</div>
                <div class="contact">contact10</div>
            </div>
            <div class="pagination-buttons">
                <button class="previus-contact">
                    Previous
                </button>
                <button class="next-contact">
                    Next
                </button>
                <button class="next-contact" onclick="window.location.href='./create_chats.html'" type="button">
                    Create chat
                </button>
            </div>
            <div class="chat">   
                    <div class="messages">
                        <div class="message-one">
                             Message One
                        </div>
                        <div class="message-one">
                            Message Two
                        </div>
                        <div class="message-one">
                             Message One
                        </div>
                        <div class="message-two">
                            Message Two
                        </div>
                        <div class="message-two">
                             Message One
                        </div>
                        <div class="message-two">
                            Message Two
                        </div>
                        <div class="message-two">
                             Message One
                        </div>
                        <div class="message-one">
                            Message Two
                        </div>
                        <div class="message-one">
                             Message One
                        </div>
                        <div class="message-two">
                            Message Two
                        </div>
                        <div class="message-one">
                             Message One
                        </div>
                        <div class="message-two">
                            Message Two
                        </div>
                        <div class="message-one">
                             Message One
                        </div>
                        <div class="message-two">
                            Message Two
                        </div>
                    </div>
                    
                    <form class="messages-form">
                        <input type="text" />
                        <button class="send">Send</button>
                    </form>
            </div>
        </div>
    </body>
</html>