<!DOCTYPE html>
<html layout:decorate="~{skeletons/skeleton}">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chats</title>
        <link rel="stylesheet" href="/styles/chats.css">
    </head>
    <body>
        <div layout:fragment="TITLE">
            <h1>Chats</h1>
        </div>
        <div layout:fragment="BODY">
            <div class="contacts">
                <div class="contacts-dropdown">
                    <span>Show Contacts</span>                        
                    <div th:if="${chats==null}" class="contacts-content" >
                        <b class="contact">No Contacts.</b>
                    </div>
                    <div th:if="${chats!=null}" class="contacts-content" th:each="chat: ${chats}">
                        <a th:href="@{/chats/principal/{idUser}/{idChat} (idUser = ${user.id}, idChat = ${chat.id})}" th:text="${chat.name}" class="contact"></a>
                    </div>
                </div>
            </div>
            <a th:href="@{/chats/createChat/{idUser} (idUser = ${user.id})}" class="btn-create">
                Create Chat
            </a>
            <a th:href="@{/users/profile/{idUser} (idUser = ${user.id})}" class="btn-create">
                Profile
            </a>
            <div th:if="${chat != null}" class="chat">   
                    <div th:if="${msg!=null}" class="messages" th:each="message: ${msg}">
                        <div th:class="${user.username == message.user.username} ? message-one : message-two" th:text="${messaage.content}"></div>
                    </div>
                    <div th:if="${msg==null}" class="messages" th:each="message: ${msg}">
                            <div th:class="message-one " th:text="you have no messages"></div>
                    </div>
                    <form class="messages-form" th:acction="@{/chats/sendMsg}" th:object="newMsg" method="post">
                        <input type="text" th:field="*{content}" />
                        <button class="send" type="submit">Send</button>
                    </form>
            </div>
            <div th:if="${chat == null}" class="chat" style="align-items:center;">
                <div class="contacts-dropdown" >
                    <div th:if="${chat==null}">
                        <b class="contact" style="display:block;">No Chat.</b>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>