<!DOCTYPE html>
<html lang="en" layout:decorate="~{./skeletons/skeleton}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile</title>
        <link rel="stylesheet" href="/styles/index.css">
        <style>
            .profile{
                text-decoration: none;
                color: white;
            }
        </style>
    </head>
    <body>
        <div layout:fragment="TITLE">
            <h1>
                Profile
            </h1>
            
        </div>
        <div layout:fragment="BODY">
             <form th:action="@{/users/modify}" th:object="${user}" method="post">
                    <input type="number" th:field="*{id}" hidden>
                    <input type="checkbox" th:field="*{state}" th:value="${user.state}" hidden>
                    <div class="field-container">
                        <label>
                            FullName
                        </label>
                        <input type="text" th:field="*{fullName}"/>
                    </div>
                    <div class="field-container">
                        <label>
                            Username
                        </label>
                        <input type="text" th:field="*{username}" />
                    </div>
                    <div class="field-container">
                        <label>
                            Password
                        </label>
                        <input type="password" th:field="*{password}" />
                    </div>
                    <div class="field-container">
                        <label>Language</label>
                        <select th:field="*{language}">
                            <option th:value="es">Spanish</option>
                            <option th:value="pt">Portuguese</option>
                            <option th:value="en" selected>English</option>
                            <option th:value="de">Germany</option>
                            <option th:value="it">Italian</option>
                            <option th:value="fr">French</option>
                            <option th:value="ru">Rusian</option>
                            <option th:value="zh">Chinese</option>
                            <option th:value="tr">Turkish</option>
                            <option th:value="ja">Japanese</option>
                        </select>
                    </div>
                    <button class="button-up" type="submit">
                        Modify
                    </button>
                    <a class="button-down" th:href="@{/chats/principal(username = ${username})}">
                        Delete
                    </a>
                    <a class="button-down" th:href="@{/chats/principal/{idUser}/{idChat} (idUser = ${user.id}, idChat = 0)}">
		                    Go back   
		            </a>
            </form>
        </div>
    </body>
</html>