.contacts{
    grid-column: 1/3;
    grid-row: 1/7;
    background: whitesmoke;
    border: 2px solid lightgray;
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    overflow-y:auto;
}

.contacts-content{
    display:flex;
    flex-direction: column;
    border-radius: 5px;
}

.chat{
    background: whitesmoke;
    grid-column: 3/6;
    grid-row: 1/6;
    margin: 10px;
    border:2px solid lightgray;
    border-radius: 10px;
    display:grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}

.contact{
    padding:20px 20px;
    border: 2px solid lightgray;
    height: 1.5em;
    padding: 5px;
    text-align: center;
    margin: 2.5px;
    border-radius: 5px;
    font-weight: bold;
    color:darkorchid;
    transition:all 0.2s;
    cursor:pointer;
}

.contact:active{
    color: white;
    background: darkorchid;
    cursor:pointer;
}

.messages{
    grid-column: 1/13;
    grid-row:1/12;
    margin: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    overflow-y: auto;
}

.messages-form{
    grid-column: 1/13;
    margin: 10px;
    border: 2px solid gray;
    border-radius:10px;
    padding: 10px;
}

.messages-form input{
    outline: 0;
    width: 90%;
    font-size: 1.5em;
    color: darkorchid;
    border: 0 solid transparent;
    border-left: 7.5px solid darkorchid;
    transition: all 0.2s;
    background: lightgray;
    border-radius: 5px;
}

.messages-form input:focus{
    border: 0 solid transparent;
    border-bottom: 7.5px solid darkorchid;
}

.send{
    width:8%;
    font-size: 1.25em;
    height: 40px;
    border: 2px solid darkorchid;
    border-radius: 15px;
    cursor:pointer;
    color: darkorchid;
}

.send:active{
    background: darkorchid;
    color: white;
    border: 2px solid white;
}

.message-one{
    margin: 10px;
    margin-right:50%;
    border:5px solid lightgray;
    padding: 2px;
    border-radius: 10px;

}


.message-two{
    margin: 10px;
    margin-left: 50%;
    border:5px solid lightgray;
    padding: 2px;
    border-radius: 10px;
}

.btn-create{
    text-decoration: none;
    display: block;
    color: darkorchid;
    padding: 10px;
    margin-left: 5px;
    font-size: 1.25em;
    border: 5px solid darkorchid;
    border-radius: 15px;
    cursor: pointer;
    transition:all 0.2s;
}

.btn-create:active{
    border: 5px solid lightgray;
    color: lightgray;
    background: darkorchid;
}

.profile{
    text-decoration: none;
    color: white;
}

.contacts-dropdown span{
    display: none;
}

@media (max-width:914px){
    .main{
        grid-template-rows: repeat(12, 1fr);
    }
    .contacts{
        grid-column: 1/11;
        grid-row:1/5;
        align-items: center;
    }
    .chat{
        grid-column: 1/11;
        grid-row:6/13;
    }
    .contact{
        height: 1.5em;
        width: 14em;
        padding: 5px;
        text-align: center;
        margin: 2.5px;
        border-radius: 5px;
    }
    .messages-form input{
        width:75%;
    }
    .send{
        width: 18%;
    }
    .btn-create{
        margin:2px;
        grid-row:5/6;
        grid-column:1/11;
    }

    .contacts-dropdown span{
        display: inline-block;
        text-align: center;
        font-size: 1.25em;
        padding: 5px;
        width: 80px;
        height:2.50em;
        color: darkorchid;
        border: 2px solid darkorchid;
    }

    .contacts-content{
        display:none;
    }

    .contacts-dropdown:hover .contacts-content{
        display: flex;
        border-radius: 5px;
    }
    .contacts-dropdown:hover span{
        background:darkorchid;
        color: white;
        border: 2px solid darkorchid;
        margin-left: 75px;
    }
}