<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>
    <link rel="stylesheet" href="/styles/skeleton.css">
</head>
<body>
        <div class="grid-container">
            <header layout:fragment="TITLE" class="header"></header>
            <main layout:fragment="BODY" class="main"></main>
        </div>
</body>
</html>